# This file is an example to demonstrate the usage of DSM CLI inside a GitHub pipeline
# Make sure to upload the executable and the configuration files to your project
# For more information on its usage, please visit https://docs.senhasegura.io/

name: senhasegura CLI CI/CD

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  workflow_dispatch:

jobs:
  DJARRIN:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v3

      - name: PRUEBA HOLA MUNDO
        run: echo Hello, world!
